<%= simple_form_for(user) do |form| %>
  <div class="gap-4">
    <%= form.input(:email, label: "Email") %>
    <%= form.input(:password, label: "Password") %>
    <%= form.input(:password_confirmation, label: "Password confirmation") %>
    <%= form.submit(:submit) %>
  </div>
<% end %>
